### Dependencias

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import cufflinks as cf
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, roc_auc_score
from scipy import stats
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.impute import SimpleImputer

from auxiliares import freq, normalizar
import warnings
warnings.filterwarnings('ignore')
cf.go_offline()
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

### Lectura de Datos

In [2]:
train = pd.read_parquet('apptrain.parquet')
valid = pd.read_parquet('appvalid.parquet')
train.shape, valid.shape

((215257, 122), (92254, 121))

In [3]:
buro = pd.read_parquet('buro.parquet')
buro.shape

(1716428, 17)

In [4]:
credit_card = pd.read_parquet('credit_card.parquet')
credit_card.shape

(3840312, 23)

### Universo de trabajo

In [5]:
freq(train,'TARGET')

****Tabla de frecuencias  TARGET  ***


       FA        FR     FAA       FRA
0  197911  0.919417  197911  0.919417
1   17346  0.080583  215257  1.000000

### Pretratamiento de Dataframes

In [6]:
entrenamiento = train['application_id'].tolist()
validacion = valid['application_id'].tolist()
data = validacion + entrenamiento
len(entrenamiento), len(validacion), len(data)

(215257, 92254, 307511)

In [7]:
target = train[['application_id','TARGET']].reset_index(drop=True)
target.shape

(215257, 2)

In [8]:
columnas = train.columns.tolist()[1:]

In [9]:
train=train[columnas]

In [10]:
df = pd.concat([train,valid])
df.shape

(307511, 121)

In [11]:
df['MAX_SCORE']=df[['EXT_SOURCE_1','EXT_SOURCE_2','EXT_SOURCE_3']].max(axis = 1)
df['MIN_SCORE']=df[['EXT_SOURCE_1','EXT_SOURCE_2','EXT_SOURCE_3']].min(axis = 1)
df['MED_SCORE']=df[['EXT_SOURCE_1','EXT_SOURCE_2','EXT_SOURCE_3']].median(axis = 1)

### Caracterización de las variables

In [12]:
varc_1 = ['AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE',
          'DAYS_BIRTH','DAYS_EMPLOYED','DAYS_REGISTRATION',
          'OBS_30_CNT_SOCIAL_CIRCLE','DEF_30_CNT_SOCIAL_CIRCLE',
          'OBS_60_CNT_SOCIAL_CIRCLE','DEF_60_CNT_SOCIAL_CIRCLE',
          'DAYS_LAST_PHONE_CHANGE','EXT_SOURCE_1','EXT_SOURCE_2','EXT_SOURCE_3',
         'MED_SCORE','MIN_SCORE','MAX_SCORE','AMT_REQ_CREDIT_BUREAU_HOUR',
          'AMT_REQ_CREDIT_BUREAU_DAY','AMT_REQ_CREDIT_BUREAU_WEEK',
          'AMT_REQ_CREDIT_BUREAU_MON','AMT_REQ_CREDIT_BUREAU_YEAR']
vard_1 = ['NAME_CONTRACT_TYPE','CODE_GENDER','NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE','FLAG_MOBIL','FLAG_CONT_MOBILE','OCCUPATION_TYPE',
 'REG_REGION_NOT_LIVE_REGION','FLAG_DOCUMENT_2','FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4','FLAG_DOCUMENT_5','FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7','FLAG_DOCUMENT_8','FLAG_DOCUMENT_9','FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11','FLAG_DOCUMENT_12','FLAG_DOCUMENT_13','FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15','FLAG_DOCUMENT_16','FLAG_DOCUMENT_17','FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19','FLAG_DOCUMENT_20','FLAG_DOCUMENT_21']
um_1 = ['application_id']

In [13]:
df = df[varc_1+vard_1+um_1]
df.shape

(307511, 52)

In [14]:
varc_2 = ['DAYS_CREDIT','CREDIT_DAY_OVERDUE','AMT_CREDIT_SUM_DEBT',
 'AMT_CREDIT_SUM_OVERDUE']
vard_2 = ['CREDIT_ACTIVE','CREDIT_TYPE']
um_2 = ['bureau_id']
un_2 =['application_id']

In [15]:
buro = buro[um_2+varc_2+vard_2+un_2]
buro.shape

(1716428, 8)

In [16]:
varc_3=['AMT_PAYMENT_TOTAL_CURRENT','AMT_TOTAL_RECEIVABLE','SK_DPD',
        'SK_DPD_DEF']
vard_3=['MONTHS_BALANCE']
un_3=['application_id']

In [17]:
credit_card = credit_card[un_3+varc_3+vard_3]
credit_card.shape

(3840312, 6)

In [18]:
cc= credit_card[credit_card['MONTHS_BALANCE']>=-24].reset_index(drop=True)
cc = cc[un_3+varc_3].groupby(un_3).median().reset_index()
cc.shape

(103558, 5)

In [19]:
df = pd.merge(df,cc, on ='application_id', how ='outer')
df = df[df['application_id'].isin(data)].reset_index(drop=True)
df.shape

(307511, 56)

In [20]:
df = pd.merge(buro,df, on ='application_id', how ='outer')
df = df[df['application_id'].isin(data)].reset_index(drop=True)
df.shape

(1509345, 63)

In [21]:
for d in ('DAYS_CREDIT','DAYS_BIRTH','DAYS_EMPLOYED','DAYS_REGISTRATION'):
    df[d]=df[d]/-365.25

In [22]:
df.rename(columns={'DAYS_CREDIT':'YEARS_CREDIT','DAYS_BIRTH':'YEARS_BIRTH',
                   'DAYS_EMPLOYED':'YEARS_EMPLOYED',
                  'DAYS_REGISTRATION':'YEARS_REGISTRATION'},
               inplace=True)

In [23]:
df.head()

,bureau_id,YEARS_CREDIT,CREDIT_DAY_OVERDUE,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_OVERDUE,CREDIT_ACTIVE,CREDIT_TYPE,application_id,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,YEARS_BIRTH,YEARS_EMPLOYED,YEARS_REGISTRATION,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,MED_SCORE,MIN_SCORE,MAX_SCORE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_YEAR,NAME_CONTRACT_TYPE,CODE_GENDER,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,FLAG_MOBIL,FLAG_CONT_MOBILE,OCCUPATION_TYPE,REG_REGION_NOT_LIVE_REGION,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_PAYMENT_TOTAL_CURRENT,AMT_TOTAL_RECEIVABLE,SK_DPD,SK_DPD_DEF
0,B000315720,1.360712,0.0,0.0,0.0,Closed,Consumer credit,A000198230,270000.0,720000.0,21181.5,720000.0,47.967146,2.570842,3.293634,1.0,1.0,1.0,1.0,-1553.0,0.873736,0.522745,0.231439,0.522745,0.231439,0.873736,0.0,0.0,0.0,0.0,3.0,Cash loans,F,Working,Higher education,1.0,1.0,Accountants,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17887.5,362634.0525,0.0,0.0
1,B001635419,0.569473,0.0,171342.0,0.0,Active,Credit card,A000198230,270000.0,720000.0,21181.5,720000.0,47.967146,2.570842,3.293634,1.0,1.0,1.0,1.0,-1553.0,0.873736,0.522745,0.231439,0.522745,0.231439,0.873736,0.0,0.0,0.0,0.0,3.0,Cash loans,F,Working,Higher education,1.0,1.0,Accountants,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17887.5,362634.0525,0.0,0.0
2,B001059430,0.555784,0.0,NaN,0.0,Active,Consumer credit,A000198230,270000.0,720000.0,21181.5,720000.0,47.967146,2.570842,3.293634,1.0,1.0,1.0,1.0,-1553.0,0.873736,0.522745,0.231439,0.522745,0.231439,0.873736,0.0,0.0,0.0,0.0,3.0,Cash loans,F,Working,Higher education,1.0,1.0,Accountants,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17887.5,362634.0525,0.0,0.0
3,B001464681,0.555784,0.0,NaN,0.0,Active,Credit card,A000198230,270000.0,720000.0,21181.5,720000.0,47.967146,2.570842,3.293634,1.0,1.0,1.0,1.0,-1553.0,0.873736,0.522745,0.231439,0.522745,0.231439,0.873736,0.0,0.0,0.0,0.0,3.0,Cash loans,F,Working,Higher education,1.0,1.0,Accountants,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17887.5,362634.0525,0.0,0.0
4,B000577089,1.722108,0.0,NaN,0.0,Active,Consumer credit,A000198230,270000.0,720000.0,21181.5,720000.0,47.967146,2.570842,3.293634,1.0,1.0,1.0,1.0,-1553.0,0.873736,0.522745,0.231439,0.522745,0.231439,0.873736,0.0,0.0,0.0,0.0,3.0,Cash loans,F,Working,Higher education,1.0,1.0,Accountants,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17887.5,362634.0525,0.0,0.0

In [24]:
varc = varc_1+varc_2+varc_3
vard = vard_1+vard_2
um = um_2+um_1
vart = ['TARGET']

In [25]:
varc =['YEARS_CREDIT' if x=='DAYS_CREDIT' else 'YEARS_BIRTH' if x=='DAYS_BIRTH' 
                   else 'YEARS_EMPLOYED' if x=='DAYS_EMPLOYED'
                  else 'YEARS_REGISTRATION' if x=='DAYS_REGISTRATION' else x for x in varc]

### Análisis Exploratorio de Datos

#### Discreto

##### Ausentes

In [26]:
for v in vard:
    df[v] = df[v].fillna('MISSING').astype(str)

In [27]:
freq(df,vard)

****Tabla de frecuencias  NAME_CONTRACT_TYPE  ***


                      FA        FR      FAA       FRA
Cash loans       1379250  0.913807  1379250  0.913807
Revolving loans   130095  0.086193  1509345  1.000000




****Tabla de frecuencias  CODE_GENDER  ***


          FA        FR      FAA       FRA
F    1029160  0.681859  1029160  0.681859
M     480151  0.318119  1509311  0.999977
XNA       34  0.000023  1509345  1.000000




****Tabla de frecuencias  NAME_INCOME_TYPE  ***


                          FA        FR      FAA       FRA
Businessman               20  0.000013       20  0.000013
Commercial associate  346632  0.229657   346652  0.229670
Maternity leave            5  0.000003   346657  0.229674
Pensioner             265085  0.175629   611742  0.405303
State servant         125512  0.083157   737254  0.488460
Student                   67  0.000044   737321  0.488504
Unemployed                33  0.000022   737354  0.488526
Working               771991  0.511474  1509345  1.000000




****Tabla de frecuencias  NAME_EDUCATION_TYPE  ***


                                    FA        FR      FAA       FRA
Academic degree                    948  0.000628      948  0.000628
Higher education                405270  0.268507   406218  0.269135
Incomplete higher                46630  0.030894   452848  0.300029
Lower secondary                  15243  0.010099   468091  0.310129
Secondary / secondary special  1041254  0.689871  1509345  1.000000




****Tabla de frecuencias  FLAG_MOBIL  ***


          FA            FR      FAA           FRA
0.0        1  6.625390e-07        1  6.625390e-07
1.0  1509344  9.999993e-01  1509345  1.000000e+00




****Tabla de frecuencias  FLAG_CONT_MOBILE  ***


          FA        FR      FAA       FRA
0.0     2903  0.001923     2903  0.001923
1.0  1506442  0.998077  1509345  1.000000




****Tabla de frecuencias  OCCUPATION_TYPE  ***


                           FA        FR      FAA       FRA
Accountants             56130  0.037188    56130  0.037188
Cleaning staff          22144  0.014671    78274  0.051860
Cooking staff           27298  0.018086   105572  0.069946
Core staff             149279  0.098903   254851  0.168849
Drivers                 82912  0.054932   337763  0.223781
HR staff                 3027  0.002006   340790  0.225787
High skill tech staff   59772  0.039601   400562  0.265388
IT staff                 2469  0.001636   403031  0.267024
Laborers               261861  0.173493   664892  0.440517
Low-skill Laborers       7097  0.004702   671989  0.445219
MISSING                469861  0.311301  1141850  0.756520
Managers               119838  0.079397  1261688  0.835918
Medicine staff          50002  0.033128  1311690  0.869046
Private service staff   11899  0.007884  1323589  0.876929
Realty agents            3535  0.002342  1327124  0.879271
Sales staff            139753  0.092592  1466877  0.971863
Secretaries              6594  0.004369  1473471  0.976232
Security staff          30451  0.020175  1503922  0.996407
Waiters/barmen staff     5423  0.003593  1509345  1.000000




****Tabla de frecuencias  REG_REGION_NOT_LIVE_REGION  ***


          FA        FR      FAA       FRA
0.0  1490918  0.987791  1490918  0.987791
1.0    18427  0.012209  1509345  1.000000




****Tabla de frecuencias  FLAG_DOCUMENT_2  ***


          FA        FR      FAA       FRA
0.0  1509332  0.999991  1509332  0.999991
1.0       13  0.000009  1509345  1.000000




****Tabla de frecuencias  FLAG_DOCUMENT_3  ***


          FA        FR      FAA       FRA
0.0   413782  0.274147   413782  0.274147
1.0  1095563  0.725853  1509345  1.000000




****Tabla de frecuencias  FLAG_DOCUMENT_4  ***


          FA       FR      FAA      FRA
0.0  1509224  0.99992  1509224  0.99992
1.0      121  0.00008  1509345  1.00000




****Tabla de frecuencias  FLAG_DOCUMENT_5  ***


          FA       FR      FAA      FRA
0.0  1486630  0.98495  1486630  0.98495
1.0    22715  0.01505  1509345  1.00000




****Tabla de frecuencias  FLAG_DOCUMENT_6  ***


          FA        FR      FAA       FRA
0.0  1380705  0.914771  1380705  0.914771
1.0   128640  0.085229  1509345  1.000000




****Tabla de frecuencias  FLAG_DOCUMENT_7  ***


          FA       FR      FAA      FRA
0.0  1509089  0.99983  1509089  0.99983
1.0      256  0.00017  1509345  1.00000




****Tabla de frecuencias  FLAG_DOCUMENT_8  ***


          FA        FR      FAA       FRA
0.0  1388272  0.919784  1388272  0.919784
1.0   121073  0.080216  1509345  1.000000




****Tabla de frecuencias  FLAG_DOCUMENT_9  ***


          FA        FR      FAA       FRA
0.0  1503907  0.996397  1503907  0.996397
1.0     5438  0.003603  1509345  1.000000




****Tabla de frecuencias  FLAG_DOCUMENT_10  ***


          FA        FR      FAA       FRA
0.0  1509296  0.999968  1509296  0.999968
1.0       49  0.000032  1509345  1.000000




****Tabla de frecuencias  FLAG_DOCUMENT_11  ***


          FA        FR      FAA       FRA
0.0  1505060  0.997161  1505060  0.997161
1.0     4285  0.002839  1509345  1.000000




****Tabla de frecuencias  FLAG_DOCUMENT_12  ***


          FA        FR      FAA       FRA
0.0  1509329  0.999989  1509329  0.999989
1.0       16  0.000011  1509345  1.000000




****Tabla de frecuencias  FLAG_DOCUMENT_13  ***


          FA        FR      FAA       FRA
0.0  1503834  0.996349  1503834  0.996349
1.0     5511  0.003651  1509345  1.000000




****Tabla de frecuencias  FLAG_DOCUMENT_14  ***


          FA        FR      FAA       FRA
0.0  1505278  0.997305  1505278  0.997305
1.0     4067  0.002695  1509345  1.000000




****Tabla de frecuencias  FLAG_DOCUMENT_15  ***


          FA        FR      FAA       FRA
0.0  1507449  0.998744  1507449  0.998744
1.0     1896  0.001256  1509345  1.000000




****Tabla de frecuencias  FLAG_DOCUMENT_16  ***


          FA        FR      FAA       FRA
0.0  1494983  0.990485  1494983  0.990485
1.0    14362  0.009515  1509345  1.000000




****Tabla de frecuencias  FLAG_DOCUMENT_17  ***


          FA        FR      FAA       FRA
0.0  1508879  0.999691  1508879  0.999691
1.0      466  0.000309  1509345  1.000000




****Tabla de frecuencias  FLAG_DOCUMENT_18  ***


          FA        FR      FAA       FRA
0.0  1497474  0.992135  1497474  0.992135
1.0    11871  0.007865  1509345  1.000000




****Tabla de frecuencias  FLAG_DOCUMENT_19  ***


          FA        FR      FAA       FRA
0.0  1508387  0.999365  1508387  0.999365
1.0      958  0.000635  1509345  1.000000




****Tabla de frecuencias  FLAG_DOCUMENT_20  ***


          FA        FR      FAA       FRA
0.0  1508059  0.999148  1508059  0.999148
1.0     1286  0.000852  1509345  1.000000




****Tabla de frecuencias  FLAG_DOCUMENT_21  ***


          FA       FR      FAA      FRA
0.0  1508967  0.99975  1508967  0.99975
1.0      378  0.00025  1509345  1.00000




****Tabla de frecuencias  CREDIT_ACTIVE  ***


              FA        FR      FAA       FRA
Active    541919  0.359042   541919  0.359042
Bad debt      20  0.000013   541939  0.359056
Closed    917733  0.608034  1459672  0.967090
MISSING    44020  0.029165  1503692  0.996255
Sold        5653  0.003745  1509345  1.000000




****Tabla de frecuencias  CREDIT_TYPE  ***


                                                   FA            FR      FAA  \
Another type of loan                              854  5.658083e-04      854
Car loan                                        23757  1.573994e-02    24611
Cash loan (non-earmarked)                          23  1.523840e-05    24634
Consumer credit                               1069610  7.086584e-01  1094244
Credit card                                    343853  2.278160e-01  1438097
Interbank credit                                    1  6.625390e-07  1438098
Loan for business development                    1721  1.140230e-03  1439819
Loan for purchase of shares (margin lending)        4  2.650156e-06  1439823
Loan for the purchase of equipment                 17  1.126316e-05  1439840
Loan for working capital replenishment            377  2.497772e-04  1440217
MISSING                                         44020  2.916497e-02  1484237
Microloan                                        9005  5.966164e-03  1493242
Mobile operator loan                                1  6.625390e-07  1493243
Mortgage                                        15607  1.034025e-02  1508850
Real estate loan                                   23  1.523840e-05  1508873
Unknown type of loan                              472  3.127184e-04  1509345

                                                   FRA
Another type of loan                          0.000566
Car loan                                      0.016306
Cash loan (non-earmarked)                     0.016321
Consumer credit                               0.724979
Credit card                                   0.952795
Interbank credit                              0.952796
Loan for business development                 0.953936
Loan for purchase of shares (margin lending)  0.953939
Loan for the purchase of equipment            0.953950
Loan for working capital replenishment        0.954200
MISSING                                       0.983365
Microloan                                     0.989331
Mobile operator loan                          0.989332
Mortgage                                      0.999672
Real estate loan                              0.999687
Unknown type of loan                          1.000000

##### Normalización de variables discretas

In [28]:
mapa_norm = list (map(lambda v:normalizar(df,v),vard))

In [29]:
for v,mapa in mapa_norm:
    df[f'n_{v}'] = df[v].replace(mapa)

In [30]:
var_norm = [f'n_{v}' for v in vard]

In [31]:
freq(df,var_norm)

****Tabla de frecuencias  n_NAME_CONTRACT_TYPE  ***


                      FA        FR      FAA       FRA
Cash loans       1379250  0.913807  1379250  0.913807
Revolving loans   130095  0.086193  1509345  1.000000




****Tabla de frecuencias  n_CODE_GENDER  ***


        FA        FR      FAA       FRA
F  1029194  0.681881  1029194  0.681881
M   480151  0.318119  1509345  1.000000




****Tabla de frecuencias  n_NAME_INCOME_TYPE  ***


                          FA        FR      FAA       FRA
Commercial associate  346632  0.229657   346632  0.229657
Pensioner             265085  0.175629   611717  0.405286
State servant         125512  0.083157   737229  0.488443
Working               772116  0.511557  1509345  1.000000




****Tabla de frecuencias  n_NAME_EDUCATION_TYPE  ***


                                    FA        FR      FAA       FRA
Higher education                405270  0.268507   405270  0.268507
Secondary / secondary special  1104075  0.731493  1509345  1.000000




****Tabla de frecuencias  n_FLAG_MOBIL  ***


          FA   FR      FAA  FRA
1.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_FLAG_CONT_MOBILE  ***


          FA   FR      FAA  FRA
1.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_OCCUPATION_TYPE  ***


                 FA        FR      FAA       FRA
Core staff   149279  0.098903   149279  0.098903
Drivers       82912  0.054932   232191  0.153836
Laborers     261861  0.173493   494052  0.327329
MISSING      469861  0.311301   963913  0.638630
Managers     119838  0.079397  1083751  0.718027
Otros        285841  0.189381  1369592  0.907408
Sales staff  139753  0.092592  1509345  1.000000




****Tabla de frecuencias  n_REG_REGION_NOT_LIVE_REGION  ***


          FA   FR      FAA  FRA
0.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_FLAG_DOCUMENT_2  ***


          FA   FR      FAA  FRA
0.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_FLAG_DOCUMENT_3  ***


          FA        FR      FAA       FRA
0.0   413782  0.274147   413782  0.274147
1.0  1095563  0.725853  1509345  1.000000




****Tabla de frecuencias  n_FLAG_DOCUMENT_4  ***


          FA   FR      FAA  FRA
0.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_FLAG_DOCUMENT_5  ***


          FA   FR      FAA  FRA
0.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_FLAG_DOCUMENT_6  ***


          FA        FR      FAA       FRA
0.0  1380705  0.914771  1380705  0.914771
1.0   128640  0.085229  1509345  1.000000




****Tabla de frecuencias  n_FLAG_DOCUMENT_7  ***


          FA   FR      FAA  FRA
0.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_FLAG_DOCUMENT_8  ***


          FA        FR      FAA       FRA
0.0  1388272  0.919784  1388272  0.919784
1.0   121073  0.080216  1509345  1.000000




****Tabla de frecuencias  n_FLAG_DOCUMENT_9  ***


          FA   FR      FAA  FRA
0.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_FLAG_DOCUMENT_10  ***


          FA   FR      FAA  FRA
0.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_FLAG_DOCUMENT_11  ***


          FA   FR      FAA  FRA
0.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_FLAG_DOCUMENT_12  ***


          FA   FR      FAA  FRA
0.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_FLAG_DOCUMENT_13  ***


          FA   FR      FAA  FRA
0.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_FLAG_DOCUMENT_14  ***


          FA   FR      FAA  FRA
0.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_FLAG_DOCUMENT_15  ***


          FA   FR      FAA  FRA
0.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_FLAG_DOCUMENT_16  ***


          FA   FR      FAA  FRA
0.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_FLAG_DOCUMENT_17  ***


          FA   FR      FAA  FRA
0.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_FLAG_DOCUMENT_18  ***


          FA   FR      FAA  FRA
0.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_FLAG_DOCUMENT_19  ***


          FA   FR      FAA  FRA
0.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_FLAG_DOCUMENT_20  ***


          FA   FR      FAA  FRA
0.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_FLAG_DOCUMENT_21  ***


          FA   FR      FAA  FRA
0.0  1509345  1.0  1509345  1.0




****Tabla de frecuencias  n_CREDIT_ACTIVE  ***


            FA        FR      FAA       FRA
Active  541919  0.359042   541919  0.359042
Closed  967426  0.640958  1509345  1.000000




****Tabla de frecuencias  n_CREDIT_TYPE  ***


                      FA        FR      FAA       FRA
Consumer credit  1069610  0.708658  1069610  0.708658
Credit card       343853  0.227816  1413463  0.936474
Otros              95882  0.063526  1509345  1.000000

##### Unarias

In [32]:
unarias = [v for v in var_norm if df[v].nunique()==1]
var_norm = [v for v in var_norm if v not in unarias]
df.drop(unarias,axis=1,inplace=True)

#### Continuas

##### Ausentes

In [33]:
miss = pd.Series(df[varc].isnull().sum()/len(df)).sort_values(ascending=False).to_frame()
miss.columns = ['missing']
fuera = list(miss[miss['missing']>0.3].index)
varc = [v for v in varc if v not in fuera]
df = df.drop(fuera, axis=1)

In [34]:
im = SimpleImputer(strategy='median')
im.fit(df[varc])
df[varc] = im.transform(df[varc])

##### Discretización de variables continuas

In [35]:
kb = KBinsDiscretizer(n_bins=5, encode='ordinal', strategy='quantile')
kb.fit(df[varc])

KBinsDiscretizer(encode='ordinal')

In [36]:
var_disc = [f'disc_{v}' for v in varc]

In [37]:
df[var_disc] = kb.transform(df[varc]).astype(int)

In [38]:
list(map(len,kb.bin_edges_))

[6, 6, 6, 6, 6, 6, 6, 4, 2, 4, 2, 6, 6, 6, 6, 6, 6, 2, 2, 2, 3, 5, 6, 2, 4, 2]

In [39]:
lsta = map(lambda z: dict(enumerate([f'({t[0]}|{t[1]}]'for t in zip(map(str, z), 
            map(str, z[1:]))])), kb.bin_edges_)

In [40]:
for v, d in zip(var_disc, lsta):
    df[v] = df[v].replace(d)

In [41]:
freq(df,var_disc)

****Tabla de frecuencias  disc_AMT_INCOME_TOTAL  ***


                            FA        FR      FAA       FRA
(112500.0|135000.0]     200278  0.132692   200278  0.132692
(135000.0|180000.0]     377657  0.250213   577935  0.382905
(180000.0|225000.0]     258569  0.171312   836504  0.554217
(225000.0|117000000.0]  391361  0.259292  1227865  0.813509
(25650.0|112500.0]      281480  0.186491  1509345  1.000000




****Tabla de frecuencias  disc_AMT_CREDIT  ***


                          FA        FR      FAA       FRA
(263686.5|450000.0]   276407  0.183130   276407  0.183130
(45000.0|263686.5]    301065  0.199467   577472  0.382598
(450000.0|651600.0]   328014  0.217322   905486  0.599920
(651600.0|924394.5]   301889  0.200013  1207375  0.799933
(924394.5|4050000.0]  301970  0.200067  1509345  1.000000




****Tabla de frecuencias  disc_AMT_ANNUITY  ***


                        FA        FR      FAA       FRA
(15192.0|22050.0]   300224  0.198910   300224  0.198910
(1615.5|15192.0]    301799  0.199954   602023  0.398864
(22050.0|28561.5]   303453  0.201049   905476  0.599913
(28561.5|37800.0]   297849  0.197337  1203325  0.797250
(37800.0|258025.5]  306020  0.202750  1509345  1.000000




****Tabla de frecuencias  disc_AMT_GOODS_PRICE  ***


                          FA        FR      FAA       FRA
(225000.0|441000.0]   398700  0.264154   398700  0.264154
(40500.0|225000.0]    204210  0.135297   602910  0.399451
(441000.0|585000.0]   301394  0.199685   904304  0.599137
(585000.0|900000.0]   296574  0.196492  1200878  0.795629
(900000.0|4050000.0]  308467  0.204371  1509345  1.000000




****Tabla de frecuencias  disc_YEARS_BIRTH  ***


                                            FA        FR      FAA       FRA
(20.503764544832308|33.37713894592745]  301794  0.199950   301794  0.199950
(33.37713894592745|40.380561259411365]  301845  0.199984   603639  0.399934
(40.380561259411365|47.73442847364819]  301870  0.200001   905509  0.599935
(47.73442847364819|56.323066392881586]  301880  0.200007  1207389  0.799942
(56.323066392881586|69.07323750855578]  301956  0.200058  1509345  1.000000




****Tabla de frecuencias  disc_YEARS_EMPLOYED  ***


                                              FA        FR      FAA       FRA
(-999.98083504449|0.48459958932238195]    301667  0.199866   301667  0.199866
(0.48459958932238195|2.6995208761122518]  301867  0.199999   603534  0.399865
(10.136071184120338|49.040383299110196]   301869  0.200000   905403  0.599865
(2.6995208761122518|5.607118412046543]    301942  0.200048  1207345  0.799913
(5.607118412046543|10.136071184120338]    302000  0.200087  1509345  1.000000




****Tabla de frecuencias  disc_YEARS_REGISTRATION  ***


                                             FA        FR      FAA       FRA
(0.0|4.030116358658453]                  301818  0.199966   301818  0.199966
(14.921286789869953|22.392881587953458]  301795  0.199951   603613  0.399917
(22.392881587953458|67.5482546201232]    301949  0.200053   905562  0.599970
(4.030116358658453|9.555099247091034]    301895  0.200017  1207457  0.799987
(9.555099247091034|14.921286789869953]   301888  0.200013  1509345  1.000000




****Tabla de frecuencias  disc_OBS_30_CNT_SOCIAL_CIRCLE  ***


                 FA        FR      FAA       FRA
(0.0|1.0]    796046  0.527412   796046  0.527412
(1.0|3.0]    389898  0.258323  1185944  0.785734
(3.0|348.0]  323401  0.214266  1509345  1.000000




****Tabla de frecuencias  disc_DEF_30_CNT_SOCIAL_CIRCLE  ***


                 FA   FR      FAA  FRA
(0.0|34.0]  1509345  1.0  1509345  1.0




****Tabla de frecuencias  disc_OBS_60_CNT_SOCIAL_CIRCLE  ***


                 FA        FR      FAA       FRA
(0.0|1.0]    799680  0.529819   799680  0.529819
(1.0|3.0]    390123  0.258472  1189803  0.788291
(3.0|344.0]  319542  0.211709  1509345  1.000000




****Tabla de frecuencias  disc_DEF_60_CNT_SOCIAL_CIRCLE  ***


                 FA   FR      FAA  FRA
(0.0|24.0]  1509345  1.0  1509345  1.0




****Tabla de frecuencias  disc_DAYS_LAST_PHONE_CHANGE  ***


                       FA        FR      FAA       FRA
(-1273.0|-665.0]   301567  0.199800   301567  0.199800
(-1817.0|-1273.0]  301992  0.200081   603559  0.399881
(-215.0|0.0]       302125  0.200170   905684  0.600051
(-4292.0|-1817.0]  301486  0.199746  1207170  0.799797
(-665.0|-215.0]    302175  0.200203  1509345  1.000000




****Tabla de frecuencias  disc_EXT_SOURCE_2  ***


                                                FA        FR      FAA  \
(0.3540246695119468|0.5203711874119231]     301879  0.200007   301879
(0.5203711874119231|0.6111483137259782]     301856  0.199991   603735
(0.6111483137259782|0.6824006417218895]     301889  0.200013   905624
(0.6824006417218895|0.8549996664047012]     301873  0.200003  1207497
(8.173616518884397e-08|0.3540246695119468]  301848  0.199986  1509345

                                                 FRA
(0.3540246695119468|0.5203711874119231]     0.200007
(0.5203711874119231|0.6111483137259782]     0.399998
(0.6111483137259782|0.6824006417218895]     0.600011
(0.6824006417218895|0.8549996664047012]     0.800014
(8.173616518884397e-08|0.3540246695119468]  1.000000




****Tabla de frecuencias  disc_EXT_SOURCE_3  ***


                                             FA        FR      FAA       FRA
(0.0005272652387098|0.3092753558842053]  300941  0.199385   300941  0.199385
(0.3092753558842053|0.4578995512067301]  302625  0.200501   603566  0.399886
(0.4578995512067301|0.5442347412142162]  297667  0.197216   901233  0.597102
(0.5442347412142162|0.6594055320683344]  303971  0.201393  1205204  0.798495
(0.6594055320683344|0.8960095494948396]  304141  0.201505  1509345  1.000000




****Tabla de frecuencias  disc_MED_SCORE  ***


                                                FA        FR      FAA  \
(0.379341478436646|0.48366347259253417]     301875  0.200004   301875
(0.48366347259253417|0.5658525362175217]    301872  0.200002   603747
(0.5658525362175217|0.6444606461042723]     301870  0.200001   905617
(0.6444606461042723|0.8854883941521002]     301872  0.200002  1207489
(5.9396509293128426e-06|0.379341478436646]  301856  0.199991  1509345

                                                 FRA
(0.379341478436646|0.48366347259253417]     0.200004
(0.48366347259253417|0.5658525362175217]    0.400006
(0.5658525362175217|0.6444606461042723]     0.600007
(0.6444606461042723|0.8854883941521002]     0.800009
(5.9396509293128426e-06|0.379341478436646]  1.000000




****Tabla de frecuencias  disc_MIN_SCORE  ***


                                                FA        FR      FAA  \
(0.2078888629212897|0.3254831608973915]     301863  0.199996   301863
(0.3254831608973915|0.4382813743111921]     301072  0.199472   602935
(0.4382813743111921|0.5549467685334323]     302286  0.200276   905221
(0.5549467685334323|0.878903368632926]      302258  0.200258  1207479
(8.173616518884397e-08|0.2078888629212897]  301866  0.199998  1509345

                                                 FRA
(0.2078888629212897|0.3254831608973915]     0.199996
(0.3254831608973915|0.4382813743111921]     0.399468
(0.4382813743111921|0.5549467685334323]     0.599744
(0.5549467685334323|0.878903368632926]      0.800002
(8.173616518884397e-08|0.2078888629212897]  1.000000




****Tabla de frecuencias  disc_MAX_SCORE  ***


                                                 FA        FR      FAA  \
(0.5226973172821112|0.6185633500160956]      302769  0.200596   302769
(0.6185633500160956|0.6817058776720116]      301380  0.199676   604149
(0.6817058776720116|0.7407990879702335]      300962  0.199399   905111
(0.7407990879702335|0.962692770561306]       303265  0.200925  1208376
(5.9396509293128426e-06|0.5226973172821112]  300969  0.199404  1509345

                                                  FRA
(0.5226973172821112|0.6185633500160956]      0.200596
(0.6185633500160956|0.6817058776720116]      0.400272
(0.6817058776720116|0.7407990879702335]      0.599671
(0.7407990879702335|0.962692770561306]       0.800596
(5.9396509293128426e-06|0.5226973172821112]  1.000000




****Tabla de frecuencias  disc_AMT_REQ_CREDIT_BUREAU_HOUR  ***


                FA   FR      FAA  FRA
(0.0|4.0]  1509345  1.0  1509345  1.0




****Tabla de frecuencias  disc_AMT_REQ_CREDIT_BUREAU_DAY  ***


                FA   FR      FAA  FRA
(0.0|9.0]  1509345  1.0  1509345  1.0




****Tabla de frecuencias  disc_AMT_REQ_CREDIT_BUREAU_WEEK  ***


                FA   FR      FAA  FRA
(0.0|8.0]  1509345  1.0  1509345  1.0




****Tabla de frecuencias  disc_AMT_REQ_CREDIT_BUREAU_MON  ***


                 FA        FR      FAA       FRA
(0.0|1.0]   1207387  0.799941  1207387  0.799941
(1.0|27.0]   301958  0.200059  1509345  1.000000




****Tabla de frecuencias  disc_AMT_REQ_CREDIT_BUREAU_YEAR  ***


                FA        FR      FAA       FRA
(0.0|1.0]   368050  0.243847   368050  0.243847
(1.0|2.0]   356681  0.236315   724731  0.480163
(2.0|3.0]   325479  0.215643  1050210  0.695805
(3.0|25.0]  459135  0.304195  1509345  1.000000




****Tabla de frecuencias  disc_YEARS_CREDIT  ***


                                             FA        FR      FAA       FRA
(0.0|1.0732375085557837]                 301546  0.199786   301546  0.199786
(1.0732375085557837|2.1546885694729636]  301953  0.200056   603499  0.399842
(2.1546885694729636|3.266255989048597]   301706  0.199892   905205  0.599734
(3.266255989048597|5.106091718001369]    302074  0.200136  1207279  0.799869
(5.106091718001369|8.0]                  302066  0.200131  1509345  1.000000




****Tabla de frecuencias  disc_CREDIT_DAY_OVERDUE  ***


                   FA   FR      FAA  FRA
(0.0|2792.0]  1509345  1.0  1509345  1.0




****Tabla de frecuencias  disc_AMT_CREDIT_SUM_DEBT  ***


                            FA        FR      FAA       FRA
(-4705600.32|0.0]         8418  0.005577     8418  0.005577
(0.0|45108.0]          1199057  0.794422  1207475  0.799999
(45108.0|170100000.0]   301870  0.200001  1509345  1.000000




****Tabla de frecuencias  disc_AMT_CREDIT_SUM_OVERDUE  ***


                      FA   FR      FAA  FRA
(0.0|3756681.0]  1509345  1.0  1509345  1.0

##### Unarias

In [42]:
unas = [v for v in var_disc if df[v].nunique()==1]
var_disc = [v for v in var_disc if v not in unas]
df.drop(unas,axis=1,inplace=True)

### Partición

In [43]:
df = df[um+var_norm+var_disc]

In [44]:
train = pd.merge(df[df['application_id'].isin(entrenamiento)].reset_index(drop=True),target,
              on='application_id')
valid = df[df['application_id'].isin(validacion)].reset_index(drop=True)
train.shape,valid.shape

((1057619, 32), (451726, 31))

### Transformación WoE

In [45]:
def transformarWoE(v:str)->dict:
    aux = train[[v]+vart].assign(n=1)
    piv = aux.pivot_table(index=v,columns=vart,values='n',aggfunc='sum',fill_value=0)
    piv/=piv.sum()
    piv['woe'] = np.log(piv[0]/piv[1])
    piv = piv[['woe']]
    return v,piv.to_dict()['woe']

In [46]:
mapa_woe = list(map(transformarWoE,var_norm+var_disc))

In [47]:
for v,mapa in mapa_woe:
    train[f'woe_{v}'] = train[v].replace(mapa)

In [48]:
var_woe = [f'woe_{v}' for v in var_norm+var_disc]

### Poder predictivo

In [49]:
def Information_Value(v:str)->dict:
    aux = train[[v]+vart].assign(n=1)
    piv = aux.pivot_table(index=v,columns=vart,values='n',aggfunc='sum',fill_value=0)
    piv/=piv.sum()
    piv['woe'] = np.log(piv[0]/piv[1])
    piv['iv'] = (piv[0]-piv[1])*piv['woe']
    return v,piv.sum()['iv']

In [50]:
IV = pd.DataFrame(map(Information_Value,var_norm+var_disc),columns=['variable','IV']
                  ).sort_values('IV',ascending=False)
IV

                           variable        IV
22                   disc_MED_SCORE  0.571823
23                   disc_MIN_SCORE  0.498268
24                   disc_MAX_SCORE  0.385150
21                disc_EXT_SOURCE_3  0.372674
20                disc_EXT_SOURCE_2  0.240923
15              disc_YEARS_EMPLOYED  0.075941
14                 disc_YEARS_BIRTH  0.058893
27                disc_YEARS_CREDIT  0.056488
4                 n_OCCUPATION_TYPE  0.043792
3             n_NAME_EDUCATION_TYPE  0.039036
13             disc_AMT_GOODS_PRICE  0.036183
11                  disc_AMT_CREDIT  0.035554
2                n_NAME_INCOME_TYPE  0.033711
19      disc_DAYS_LAST_PHONE_CHANGE  0.032573
5                 n_FLAG_DOCUMENT_3  0.025308
0              n_NAME_CONTRACT_TYPE  0.022521
1                     n_CODE_GENDER  0.021829
8                   n_CREDIT_ACTIVE  0.020801
12                 disc_AMT_ANNUITY  0.020670
16          disc_YEARS_REGISTRATION  0.017664
28         disc_AMT_CREDIT_SUM_DEBT  0.015779
26  disc_AMT_REQ_CREDIT_BUREAU_YEAR  0.011305
9                     n_CREDIT_TYPE  0.006222
6                 n_FLAG_DOCUMENT_6  0.004352
10            disc_AMT_INCOME_TOTAL  0.003462
18    disc_OBS_60_CNT_SOCIAL_CIRCLE  0.002813
17    disc_OBS_30_CNT_SOCIAL_CIRCLE  0.002769
7                 n_FLAG_DOCUMENT_8  0.001529
25   disc_AMT_REQ_CREDIT_BUREAU_MON  0.000660

In [51]:
best = list(IV[IV['IV']>0.05]['variable'])
best = [f'woe_{v}' for v in best]
len(best)

8

### Aprendizaje (Regresión Logística)

In [52]:
mod = LogisticRegression()
mod.fit(train[best],train['TARGET'])

LogisticRegression()

In [53]:
coef = mod.coef_
coef

array([[-0.29476059, -0.39691257, -0.27634759, -0.36750029, -0.19100997,
        -0.55361571, -0.0222169 , -0.29261111]])

In [54]:
alpha = mod.intercept_[0]
alpha

-2.457317509792675

In [55]:
roc_auc_score(train['TARGET'],mod.predict_proba(train[best])[:,1])

0.7285195927116526

In [56]:
entrenar = train[um_1+best+vart].groupby('application_id').max().reset_index()

In [57]:
roc_auc_score(entrenar['TARGET'],mod.predict_proba(entrenar[best])[:,1])

0.7212077992752599

### Validación del modelo

In [58]:
for v,mapa in mapa_woe:
    valid[f'woe_{v}'] = valid[v].replace(mapa)

In [59]:
probabilidad = valid[um_1+best]
probabilidad[['prob1','prob']] = mod.predict_proba(probabilidad[best])
probabilidad = probabilidad[['application_id','prob']]
probabilidad=probabilidad[['application_id','prob']].groupby('application_id').max().reset_index() 
probabilidad

      application_id      prob
0         A000000004  0.128299
1         A000000008  0.076998
2         A000000011  0.024135
3         A000000013  0.024113
4         A000000014  0.023972
...              ...       ...
92249     A000456056  0.027516
92250     A000456060  0.039380
92251     A000456069  0.015789
92252     A000456075  0.020046
92253     A000456079  0.051326

[92254 rows x 2 columns]

In [60]:
probabilidad.to_csv('MARTINEZ_SEDAS_MARIA_GUADALUPE.csv', header = False, index=False, sep=',')